<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">



	<bean id="empObj" class="demo.beanindiffrentxml.Employee">
		<property name="empName" value="PrashantChitte"></property>
		<property name="empId" value="1019"></property>
		<property name="InsuObj">
			<ref bean="InsuObj" />
		</property>
	</bean><!--for this purpose you have to mention two xml file name in AppicationContext  -->
	

	<!-- By using bean in same xml file 
	<bean id="empObj" class="demo.beanindiffrentxml.Employee"> <property 
		name="empName" value="PrashantChitte"></property> <property name="empId" 
		value="1019"></property> <property name="InsuObj"> <ref bean="InsuObj" /> 
		</property> </bean> <bean id="InsuObj" class="demo.beanindiffrentxml.Insurence"> 
		<property name="insuId" value="2211"></property> <property name="name" value="LI"></property> 
		</bean> -->
</beans>